{% extends 'blog/blog.html' %}

{% block head_extra %}
{{ form.media }}
<script src="https://cdn.tiny.cloud/1/cw1pajkf9oxsz7gz0f8ra9ba6j39vg6rma6lk2raza8yr70v/tinymce/5/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'advlist autolink link image lists charmap print preview',
    // menubar: "insert",
    toolbar: 'undo redo | styleselect | bold italic | link image',
    image_caption: true 
  });
</script>
{% endblock head_extra %}

{% block blog %}

<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-lg-10">
      <h1>Form</h1>
      <form method="POST" action='' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create post">
      </form>
    </div> <!-- end col-sm-8 -->

  </div> <!-- end row -->
</div> <!-- end container -->
  
{% endblock blog %}